* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

header {

    display: flex;
    flex-direction: column;
}

.banner_logo,
.itm_Logo,
nav>ul {
    display: flex;
    flex-direction: row;
}

.banner_logo,
nav {
    width: 100vw;
}

.itm_Logo p {
    font-size: 14px;
}

.logoImg {
    height: 25px;
}

.banner_logo {
    height: 50px;
    background: #D9D8D6;

}

nav {
    background: #266041;
}

nav li {
    list-style: none;

}

nav a {
    color: beige;
    text-decoration: none;
    padding: 0 5px;
}