/* todo: main donde se colocaran articulos y secciones */

main{
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}  

.ofertas{
    border: 1px solid rgb(226, 73, 73);
    border-radius: 10px;
    height: 300px;
    width: 80vw;
    box-sizing: border-box;
    margin: 20px;
}

.oferta_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 33%;
    height: 250px;
    background: blue;
    border-radius: 8px;
    margin: 5px;
}

section{
    display: flex;
    width: 90vw
}

section div img { 
    width: 300px;
    height: 160px;
    margin: 10px;
}

.oferta_title{
    height: 45px;
}

header img{
    width: 300px;
    height: 160px;
    border-radius: 35px;
}

header h1{
    padding-left: 100px;
}

footer{
    height: 300px;
}